In [11]:
from datetime import datetime, date, timedelta
import requests as req
import pandas as pd

In [12]:
# Create two dates
d1 = date(2016,1,1)
d2 = date(2017,8,25)

In [13]:
# Finding difference between dates
delta = d2-d1

In [14]:
# Creating two empty lists to store gregorian dates and unix time date to store days inbetween
timeframe = []
newtimeframe = []

In [15]:
# Stores all days, inclusive, in gregorian format, into timeframe
for i in range(delta.days + 1):
    timeframe.append(str(d1 + timedelta(days=i)))

In [16]:
# Converts all dates in unix time
for x in range(len(timeframe)):
    newtimeframe.append(datetime.strptime(timeframe[x],"%Y-%m-%d").timestamp())

In [17]:
# Empty list for storing all ethereum prices
ethprices = []

In [18]:
# Get request for ethereum for those dates, then stores the USD into ethprices list.
for x in range(len(timeframe)):
    url = "https://min-api.cryptocompare.com/data/pricehistorical?fsym=ETH&tsyms=%s,%s&ts=%s&extraParams=your_app_name" % ("ETH", "USD", newtimeframe[x])
    get_url = req.get(url).json()
    ethprices.append(get_url["ETH"]["USD"])

In [19]:
# Store into a dataframe
df = pd.DataFrame({'Date': timeframe,
                  'Price_ETH': ethprices})
df.set_index('Date')

            Price_ETH
Date
2016-01-01     0.9340
2016-01-02     0.9316
2016-01-03     0.9693
2016-01-04     0.9518
2016-01-05     0.9502
2016-01-06     0.9553
2016-01-07     0.9492
2016-01-08     0.9855
2016-01-09     0.9851
2016-01-10     0.9942
2016-01-11     1.0500
2016-01-12     1.2200
2016-01-13     1.1300
2016-01-14     1.1600
2016-01-15     1.2200
2016-01-16     1.2200
2016-01-17     1.3100
2016-01-18     1.4700
2016-01-19     1.3700
2016-01-20     1.5300
2016-01-21     1.5400
2016-01-22     1.5200
2016-01-23     2.0300
2016-01-24     2.1000
2016-01-25     2.5000
2016-01-26     2.3000
2016-01-27     2.4200
2016-01-28     2.5500
2016-01-29     2.4100
2016-01-30     2.4300
...               ...
2017-07-27   202.9300
2017-07-28   191.2100
2017-07-29   206.1400
2017-07-30   196.7800
2017-07-31   201.3300
2017-08-01   225.9000
2017-08-02   218.1200
2017-08-03   224.3900
2017-08-04   220.6000
2017-08-05   253.0900
2017-08-06   264.5600
2017-08-07   269.9400
2017-08-08   296.5100
2017-08-09   295.2800
2017-08-10   298.2800
2017-08-11   309.3200
2017-08-12   308.0200
2017-08-13   296.6200
2017-08-14   299.1600
2017-08-15   286.5200
2017-08-16   301.3800
2017-08-17   300.3000
2017-08-18   292.6200
2017-08-19   293.0200
2017-08-20   298.2000
2017-08-21   321.8500
2017-08-22   313.3700
2017-08-23   317.4000
2017-08-24   325.2800
2017-08-25   330.0600

[603 rows x 1 columns]

In [21]:
# Export df to csv
df.to_csv('ETH.csv')